
main {
    padding: 40px 20px;
}

@media (min-width: 800px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 90vh;
    }
}

h1 {
    margin-bottom: 2rem;
    padding-inline: 2rem;
}

.container {
    width: 100%;
    background: var(--surface-color);
    padding: 2rem;
    border-radius: 1.6rem;
    margin-bottom: 2rem;
}